<div class="container">
  <h1>{{ title }}</h1>

  <form (ngSubmit)="search()">
    <table class="table search-table">
      <thead>
        <tr>
          <th>Guessed Brand</th>
          <th>Serial Number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let input of inputs; let i = index">
          <td><input type="text" [(ngModel)]="input.guessedBrand" name="guessedBrand-{{i}}" class="form-control" placeholder="Guessed Brand" (change)="markAsUnsearched(i)"></td>
          <td><input type="text" [(ngModel)]="input.serialNumber" name="serialNumber-{{i}}" class="form-control" placeholder="Serial Number" (change)="markAsUnsearched(i)"></td>
          <td><button type="button" (click)="removeInput(i)" class="btn btn-danger">Remove</button></td>
        </tr>
      </tbody>
    </table>

    <button type="button" (click)="addInput()" class="btn btn-secondary">Add Row</button>
    <button type="submit" class="btn btn-primary">Search All</button>
    <button *ngIf="productsData && productsData.length > 0" (click)="exportPDF()" class="btn btn-success">Export as PDF</button>
  </form>

  <div *ngIf="loading" class="loading-indicator">
    Searching, please wait...
  </div>

  <!-- Results table -->
  <table *ngIf="productsData && productsData.length > 0" id="results-table" class="table results-table">
    <thead>
      <tr>
        <th>Search</th>
        <th>Title</th>
        <th>Price</th>
        <th>Photo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsData">
        <td>{{ product.query }}</td>
        <td>{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td><img [src]="product.photo" alt="Product Image" style="width: 100px;"></td>
      </tr>
    </tbody>
  </table>


  <div *ngIf="productsData && productsData.length === 0">
    <p>No products found.</p>
  </div>
</div>
